<div class="container color-dark">
  <div class="col">
    <p>skills items</p>
  </div>
</div>

<div class="container color-light">
  <div class="col">
    <form>
      <input type="text" class="txt" name="skillName" placeholder="Skill Name" [(ngModel)]="mySkill.skillName"><br>
      <input type="text" class="txt" name="proficiency" placeholder="Proficiency" [(ngModel)]="mySkill.proficiency"><br>
      <input type="text" class="txt" name="description" placeholder="Description" [(ngModel)]="mySkill.description"><br>
      
      <input type="submit" class="btn" value="{{ btnTxt }}" (click)="agregarSkill()">
    </form>
  </div>

  <div class="col">
    <p class="life-container" *ngFor="let skill of skillsList">
      <input *ngIf="skill.id" type="submit" class="btn" value="delete" (click)="deleteSkill(skill.id)">
      {{ skill.skillName }} - {{ skill.proficiency }} ({{ skill.description }})
    </p>
  </div>
</div>
