<div class="container color-dark">
  <div class="col">
    <p>languages items</p>
  </div>
</div>

<div class="container color-light">
  <div class="col">
    <form>
      <input type="text" class="txt" name="name" placeholder="Language Name" [(ngModel)]="myLanguage.name"><br>
      <input type="text" class="txt" name="proficiency" placeholder="Proficiency" [(ngModel)]="myLanguage.proficiency"><br>
      <input type="text" class="txt" name="certification" placeholder="Certification" [(ngModel)]="myLanguage.certification"><br>

      <input type="submit" class="btn" value="{{ btnTxt }}" (click)="agregarLanguage()">
    </form>
  </div>

  <div class="col">
    <p class="life-container" *ngFor="let lang of languagesList">
      <input *ngIf="lang.id" type="submit" class="btn" value="delete" (click)="deleteLanguage(lang.id)">
      {{ lang.name }} - {{ lang.proficiency }} ({{ lang.certification }})
    </p>
  </div>
</div>
